<!DOCTYPE HTML>
{% javascripts '@NotesNoteEditorBundle/Resources/public/js/jquery-1.11.1.js'
               '@NotesNoteEditorBundle/Resources/public/js/globalVars.js' 
               '@NotesNoteEditorBundle/Resources/public/js/projects.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% stylesheets '@NotesNoteEditorBundle/Resources/public/css/menu.css'
               '@NotesNoteEditorBundle/Resources/public/css/home.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
    
<div class="homeMessage">Hello! This application will enable you to manage notes on projects. 
You will be able to view, create, update, or delete project names, as well as the notes under 
them.</div>

<div class="searchProjects_home_link">Search Projects<div>
