<!DOCTYPE HTML>
{% javascripts '@NotesNoteEditorBundle/Resources/public/js/jquery-1.11.1.js'
               '@NotesNoteEditorBundle/Resources/public/js/globalVars.js' 
               '@NotesNoteEditorBundle/Resources/public/js/notes.js'
%}
    <script type="text/javascript">
       var projectId = "{{ projectId|escape('js') }}";
    </script>
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% stylesheets '@NotesNoteEditorBundle/Resources/public/css/menu.css'
               '@NotesNoteEditorBundle/Resources/public/css/notes.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

{% if "Search Notes" in heading %}
   <div class="home_link">Home</div>
   <div class="searchProjects_link">Search Projects</div>   
{% endif %}
{% if ("Edit Note" in heading) or ("Create Note" in heading) %}
   <div class="home_link">Home</div>
   <div class="searchProjects_link">Search Projects</div>   
   <div class="searchNotes_link">Search Notes</div>   
{% endif %}
   
<div class="head_container">
   <div class="note_heading">{{ heading }}</div>
   {% if "Create Note" in heading == false %}
      <div class="createNote">Create a Note</div>
   {% endif %}
</div>
  
{{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="noteDate">
        {{ form_label(form.date, 'Date Created: ') }}
        {{ form_errors(form.date) }}
        {{ form_widget(form.date) }}
    </div>
   
    <div class="noteTitle">
        {{ form_label(form.title, 'Title: ') }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}
    </div>
   
    <div class="noteDescription">
        {{ form_label(form.description, 'Description: ') }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description) }}
    </div>

    <div class="noteSubmit">
        {{ form_widget(form.submit) }}
    </div>
{{ form_end(form) }}

<div class="msg">{{ msg|default('')  }}</div>
