{% embed "NotesNoteEditorBundle:Default:noteForm.html.twig" %}
{% endembed %}
{% for note in notes %}
   <div id="{{ note.id }}" class="note_container"> 
      <div class="editNote">Edit</div>
      <div class="note"><b>{{ note.title }}</b> -- <i>{{ note.date|date('Y-m-d') }}</i></br>
        &nbsp;&nbsp;&nbsp;&nbsp;{{ note.description|length() > 200?
        note.description|slice(0, 150)~'...':note.description }}</div>
      <div class="deleteNote">Delete</div>
   </div>
{% endfor %}
