<!DOCTYPE HTML>
{% javascripts '@NotesNoteEditorBundle/Resources/public/js/jquery-1.11.1.js'
               '@NotesNoteEditorBundle/Resources/public/js/globalVars.js' 
               '@NotesNoteEditorBundle/Resources/public/js/projects.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% stylesheets '@NotesNoteEditorBundle/Resources/public/css/menu.css'
               '@NotesNoteEditorBundle/Resources/public/css/projects.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

{% if heading == "Search Projects" %}
   <div class="home_link">Home</div>
{% endif %}
{% if (heading == "Edit Project") or (heading == "Create Project") %}
   <div class="home_link">Home</div>
   <div class="searchProjects_link">Search Projects</div>   
{% endif %}
   
<div class="head_container">
   <div class="proj_heading">{{ heading }}</div>
   {% if heading != "Create Project" %}
      <div class="createProject">Create a Project</div>
   {% endif %}
</div>
  
{{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="projectName">
        {{ form_label(form.name, 'Project Name: ') }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </div>

    <div>
        {{ form_widget(form.submit) }}
    </div>
{{ form_end(form) }}

<div class="msg">{{ msg|default('')  }}</div>