{% embed "NotesNoteEditorBundle:Default:projectForm.html.twig" %}
{% endembed %}
{% for project in projects %}
   <div id="{{ project.id }}" class="proj_container"> 
      <div class="searchNotes">Search Notes</div>
      <div class="createNote">Add a Note</div>
      <div class="editProject">Edit</div>
      <div class="project">{{ project.name }}</div>
      <div class="deleteProject">Delete</div>
   </div>
{% endfor %}