/* 
    Document   : home.css
    Created on : Jun 29, 2014, 10:51 PM
    Author     : Lagartija
    Description:
        Styles the project/notes manager home page.
*/

root { 
    display: block;
}

.homeMessage{
   font: x-large/110% "New Century Schoolbook", serif;
   color: #cd0a0a;
   margin: 25px;
}