/* 
    Document   : menu
    Created on : Jun 29, 2014, 1:58:49 AM
    Author     : Lagartija
    Description:
        Styles menu-bar at top-left of screen.
*/

root { 
    display: block;
}
/* Menu Links:
   -----------*/
.home_link{
   padding: 2px;
   float: left;
   text-align: center;
   font: bold italic 12px/14px sans-serif;
   background-color: deepskyblue;
   border-left: 1px solid black;
   border-right: 1px solid black;
   width: 48px;    
}
.home_link:hover{
   background-color:yellow;
}
.searchProjects_home_link{
   padding: 2px;
   float: left;
   text-align: center;
   font: bold italic 12px/14px sans-serif;
   background-color: deepskyblue;
   border-left: 1px solid black;
   border-right: 1px solid black;
   width: 105px;    
}
.searchProjects_home_link:hover{
   background-color:yellow;
}
.searchProjects_link{
   padding: 2px;
   float: left;
   text-align: center;
   font: bold italic 12px/14px sans-serif;
   background-color: deepskyblue;
   border-right: 1px solid black;
   width: 105px;    
}
.searchProjects_link:hover{
   background-color:yellow;
}
.searchNotes_link{
   padding: 2px;
   float: left;
   text-align: center;
   font: bold italic 12px/14px sans-serif;
   background-color: deepskyblue;
   border-right: 1px solid black;
   width: 87px;    
}
.searchNotes_link:hover{
   background-color:yellow;
}


