/* 
    Document   : notes.css
    Created on : Jun 29, 2014, 4:50:00 AM
    Author     : Lagartija
    Description:
        Styles note browsers and editors.
*/

root { 
    display: block;
}

/* Notes and Editing:
   ------------------*/
/* Page heading and create note button: */
.head_container{
   clear: left;
   vertical-align: middle;
}
.note_heading{
   font: bold italic 30px sans-serif;
   color: #cd0a0a;
   float: left;
   margin-top: 25px;
   margin-bottom: 25px;
}
.createNote{
   padding: 2px;
   float: left;
   text-align: center;
   font: bold italic 12px/14px sans-serif;
   background-color: greenyellow;
   border-left: 1px solid black;
   border-right: 1px solid black;
   margin-left: 40px;
   margin-top: 32px;
   width: 110px;
}
.createNote:hover{
   background-color:yellow;
}
/* Note form: */
form{
   clear: left;    
}
form li{
   color: red;
}
.noteDate, .noteTitle, .noteSubmit{
   clear: both;
   font: bold 16px sans-serif;
   width: 607px;
   padding: 10px;
}
.noteDescription{
   clear: both;
   font: bold 16px sans-serif;
   width: 1107px;
   padding: 10px;
}
.noteDate label{
   float: left;
   margin-right: 10px;
}
.noteDate ul{
   clear: both;
}
#Note_date{
   float: left;
}
#Note_title{
   width: 500px;
   float: right;
}
#Note_description{
   float: right;
   width: 1000px;
   height: 100px;
   resize: none;
}
.noteSubmit{
   clear: both;
}
/* Status message: */
.msg{
   padding: 4px;
   font: bold 12px/14px sans-serif;  
   color: blue;
}
/* Projects browser: 
   -----------------*/
.note_container{
   padding: 4px;
   clear: left;
}
/* Edit note button: */
.editNote{
   padding: 2px;
   float: left;
   text-align: center;
   font: bold italic 12px/14px sans-serif;
   background-color: greenyellow;
   border-left: 1px solid black;
   border-right: 1px solid black;
   width: 35px;
}
.editNote:hover{
   background-color:yellow;
}
/* Note description: */
.note{
   padding: 2px;
   float: left;
   font: bold 12px/14px sans-serif;
   background-color: tan;
   border-right: 1px solid black;
   width: 500px; 
   vertical-align: top;
}
/* Delete note button: */
.deleteNote{
   padding: 2px;
   float: left;
   text-align: center;
   font: bold italic 12px/14px sans-serif;
   background-color: red;
   border-right: 1px solid black;
   width: 50px;
}
.deleteNote:hover{
   background-color:yellow;
}
