/* 
    Document   : projects.css
    Created on : Jun 28, 2014, 1:12:25 AM
    Author     : Lagartija
    Description:
        Styles project browsers and editors.
*/

root { 
    display: block;
}

/* Projects and Editing:
   ---------------------*/
/* Page heading and create project button: */
.head_container{
   clear: left;
   vertical-align: middle;
}
.proj_heading{
   font: bold italic 30px sans-serif;
   color: #cd0a0a;
   float: left;
   margin-top: 25px;
   margin-bottom: 25px;
}
.createProject{
   padding: 2px;
   float: left;
   text-align: center;
   font: bold italic 12px/14px sans-serif;
   background-color: greenyellow;
   border-left: 1px solid black;
   border-right: 1px solid black;
   margin-left: 40px;
   margin-top: 32px;
   width: 110px;
}
.createProject:hover{
   background-color:yellow;
}
/* Project name form: */
form{
   clear: left;    
}
form li{
   color: red;
}
.projectName{
   font: bold 16px sans-serif;
}
#Project_name{
   width: 500px;
}
/* Status message: */
.msg{
   padding: 4px;
   font: bold 12px/14px sans-serif;  
   color: blue;
}
/* Projects browser: */
.proj_container{
   padding: 4px;
   clear: left;
}
/* Search notes button: */
.searchNotes{
   padding: 2px;
   float: left;
   text-align: center;
   font: bold italic 12px/14px sans-serif;
   background-color: greenyellow;
   border-left: 1px solid black;
   border-right: 1px solid black;
   width: 80px;
}
.searchNotes:hover{
   background-color:yellow;
}
/* Add a note button: */
.createNote{
   padding: 2px;
   float: left;
   text-align: center;
   font: bold italic 12px/14px sans-serif;
   background-color: greenyellow;
   border-right: 1px solid black;
   width: 75px;
}
.createNote:hover{
   background-color:yellow;
}
/* Edit project button: */
.editProject{
   padding: 2px;
   float: left;
   text-align: center;
   font: bold italic 12px/14px sans-serif;
   background-color: greenyellow;
   border-right: 1px solid black;
   width: 35px;
}
.editProject:hover{
   background-color:yellow;
}
/* Project name: */
.project{
   padding: 2px;
   float: left;
   font: bold 12px/14px sans-serif;
   background-color: tan;
   border-right: 1px solid black;
   width: 500px; 
}
/* Delete project button: */
.deleteProject{
   padding: 2px;
   float: left;
   text-align: center;
   font: bold italic 12px/14px sans-serif;
   background-color: red;
   border-right: 1px solid black;
   width: 50px;
}
.deleteProject:hover{
   background-color:yellow;
}
